<h2> Store Information </h2>
<br>

<h3> Saved Stores </h3>
<% if @all_stores.any? %>
<ul>
  <% @all_stores.each do |store| %>
    <li><a href = "/store_info/store/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
</ul>
  <% else %>
    <p><span class="text-danger"> No Saved Stores <span></p>
  <% end %>

<h3> Add New </h3>
<form action="/stores/new_store" method="post">
  <div class="form-group row">
    <label for="name_input" class="col-xs-2 col-form-label">Name of Store</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" id="name_input" name="name_input">
    </div>
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>

<a href="/" class="btn btn-info">Home</a>
